.red {
  background: red;
}

.blue {
  background: blue;
}

.square-blue {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
  background: blue;
}

.square-red {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
  background: red;
}