<div class="container">
    <h1 appStyle [color]="'green'" [dStyles]="{border: '1px solid blue', borderRadius: '5px', fontWeight: '10px'}">
        Angular Derectivies</h1>
    <p appStyle [color]="'red'" [dStyles]="{border: '1px solid blue', borderRadius: '5px', fontWeight: '10px'}">Lorem
        ipsum dolor sit
        amet, consectetur adipisicing elit. Blanditiis
        error esse expedita facilis impedit libero
        modi nesciunt, sint temporibus voluptates! At est natus, quae quasi quos ratione. Cumque, deserunt,
        dignissimos!</p>
</div>