<div class="container">
    <h1>Angular Services</h1>

<!--    <div class="card">-->
<!--        <h2>App Counter: {{appCounterService.counter}}</h2>-->
<!--        <button class="btn" (click)="appCounterService.increase()">+</button>-->
<!--        <button class="btn" (click)="appCounterService.decrease()">-</button>-->
<!--        <button class="btn" (click)="appCounterService.clear()">Clear value</button>-->
<!--    </div>    -->
    <div class="card">
        <h2>App Counter: {{localServiceCounter.counter}}</h2>
        <button class="btn" (click)="localServiceCounter.increase()">+</button>
        <button class="btn" (click)="localServiceCounter.decrease()">-</button>
        <button class="btn" (click)="localServiceCounter.clear()">Clear value</button>
    </div>
</div>




