{
  "[html]": {
    "editor.defaultFormatter": "vscode.html-language-features"
  },
  "[json]": {
    "editor.wordWrap": "on"
  },
  "breadcrumbs.symbolPath": "off",
  "diffEditor.ignoreTrimWhitespace": false,
  "editor.acceptSuggestionOnEnter": "smart",
  "editor.accessibilitySupport": "off",
  "editor.autoIndent": "brackets",
  "editor.codeActionsOnSave": {
    "source.organizeImports": true
  },
  "editor.codeLensFontSize": 12,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.dragAndDrop": false,
  "editor.fontLigatures": true,
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "editor.formatOnType": false,
  "editor.insertSpaces": true,
  "editor.linkedEditing": true,
  "editor.minimap.enabled": false,
  "editor.multiCursorModifier": "ctrlCmd",
  "editor.occurrencesHighlight": false,
  "editor.renderControlCharacters": true,
  "editor.renderIndentGuides": true,
  "editor.scrollBeyondLastLine": false,
  "editor.suggest.insertMode": "replace",
  "editor.suggest.localityBonus": true,
  "editor.suggestSelection": "first",
  "editor.tabCompletion": "onlySnippets",
  "editor.tabSize": 2,
  "editor.wordBasedSuggestionsMode": "currentDocument",
  "emmet.preferences": {
    "bem.elementSeparator": "__",
    "bem.modifierSeparator": "--",
    "bem.shortElementPrefix": "-"
  },
  "emmet.showExpandedAbbreviation": "inMarkupAndStylesheetFilesOnly",
  "emmet.showSuggestionsAsSnippets": true,
  "emmet.triggerExpansionOnTab": true,
  "explorer.compactFolders": false,
  "explorer.openEditors.visible": 0,
  "files.exclude": {
    "/.DS_Store": true,
    "/.git": true,
    "/.hg": true,
    "/.svn": true,
    "/CVS": true
  },
  "formattingToggle.affects": ["formatOnSave"],
  "html.format.endWithNewline": true,
  "html.format.extraLiners": "",
  "html.format.indentInnerHtml": true,
  "html.format.maxPreserveNewLines": 3,
  "html.format.wrapAttributes": "force-aligned",
  "html.format.wrapLineLength": 0,
  "keyboard.touchbar.ignored": [
    "workbench.action.debug.start",
    "workbench.action.debug.run"
  ],
  "liveServer.settings.donotShowInfoMsg": true,
  "liveServer.settings.donotVerifyTags": true,
  "prettier.arrowParens": "avoid",
  "prettier.bracketSpacing": true,
  "prettier.endOfLine": "lf",
  "prettier.printWidth": 80,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.quoteProps": "as-needed",
  "prettier.tabWidth": 2,
  "prettier.trailingComma": "es5",
  "prettier.useEditorConfig": true,
  "prettier.useTabs": false,
  "security.workspace.trust.enabled": false,
  "stylelint.configOverrides": {
    "ignoreFiles": "node_modules/"
  },
  "telemetry.enableCrashReporter": false,
  "vsicons.dontShowNewVersionMessage": true,
  "vsintellicode.modify.editor.suggestSelection": "choseToUpdateConfiguration",
  "window.title": "${dirty} ${activeEditorMedium}${separator}${rootName}",
  "workbench.editor.closeOnFileDelete": true,
  "workbench.editor.limit.enabled": true,
  "workbench.iconTheme": "vscode-icons",
  "workbench.tree.renderIndentGuides": "onHover"
}